In [1]:
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
your_major = "STAT" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [3]:
!nvidia-smi

Fri Jan 14 14:28:16 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 495.46       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   47C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

STAT170-01 완료
STAT170-02 완료
STAT170-03 완료
STAT170-04 완료
STAT180-01 완료
STAT180-02 완료
STAT201-00 완료
STAT221-01 완료
STAT221-02 완료
STAT232-00 완료
STAT243-00 완료
STAT323-00 완료
STAT341-00 완료
STAT342-00 완료
STAT343-00 완료
STAT401-00 완료
STAT409-00 완료
STAT412-00 완료
STAT423-00 완료
STAT433-00 완료

In [5]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호                 강의명                               시간   교수명
0   STAT170-01              기초통계학       월(2) 정경관 503호 수(2) 정경관 503호   조형준
1   STAT170-02              기초통계학                       화(1)  목(1)    차재형
2   STAT170-03              기초통계학                       화(2)  목(2)    차재형
3   STAT170-04              기초통계학                       화(5)  목(5)    백정민
4   STAT180-01          통계계산소프트웨어       월(5) 정경관 101호 수(5) 정경관 101호  오찬욱
5   STAT180-02          통계계산소프트웨어       월(6) 정경관 101호 수(6) 정경관 101호  오찬욱
6   STAT201-00           통계수학(영강)                       화(6)  목(6)    김경희
7   STAT221-01          확률론입문(영강)                       화(1)  목(1)    김경희
8   STAT221-02          확률론입문(영강)   월(7-8) 정경관 503호 수(7-8) 정경관 503호    송준
9   STAT232-00          수리통계학(영강)       월(2) 정경관 205호 수(2) 정경관 205호   송성주
10  STAT243-00   사회과학을위한데이터과학(영강)       월(6) 정경관 202호 수(6) 정경관 202호    정환
11  STAT323-00             통계계산방법                       화(6)  목(6)    최태련
12  STAT341-00          실험계획법(영강)                   화(7-8)  목(7-8)    정윤서
13  STAT342-00               회귀분석       월(5) 정경관 503호 수(5) 정경관 503호   구자용
14  STAT343-00        범주형자료분석(영강)       월(1) 정경관 205호 수(1) 정경관 205호   정윤서
15  STAT401-00        다변량통계분석(영강)                       화(2)  목(2)    송주원
16  STAT409-00     통계적데이터과학II(영강)       월(6) 교양관 103호 수(6) 교양관 103호   신승준
17  STAT412-00            수리통계학특강       월(6) 정경관 503호 수(6) 정경관 503호   최태련
18  STAT423-00   생명과학을위한데이터과학(영강)                       화(6)  목(6)    송주원
19  STAT433-00   딥러닝을위한통계적모델링(영강)       월(5) 교양관 110호 수(5) 교양관 110호    송준

In [6]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_1_{your_major}.xlsx")