In [1]:
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
your_major = "STAT" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [3]:
!nvidia-smi

Thu Jun 30 15:14:28 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   45C    P8    10W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

STAT170-01 완료
STAT170-02 완료
STAT170-03 완료
STAT170-04 완료
STAT180-01 완료
STAT180-02 완료
STAT201-00 완료
STAT204-00 완료
STAT221-00 완료
STAT232-01 완료
STAT232-02 완료
STAT241-00 완료
STAT243-00 완료
STAT311-00 완료
STAT342-01 완료
STAT342-02 완료
STAT344-00 완료
STAT346-00 완료
STAT401-00 완료
STAT402-00 완료
STAT404-00 완료
STAT443-00 완료

In [5]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호              강의명                               시간   교수명
0   STAT170-01           기초통계학       수(6) 교양관 311호 금(6) 교양관 311호   차재형
1   STAT170-02           기초통계학   수(7-8) 교양관 311호 금(7-8) 교양관 311호   차재형
2   STAT170-03           기초통계학   화(7-8) 정경관 202호 목(7-8) 정경관 202호   백정민
3   STAT170-04           기초통계학       화(2) 정경관 501호 목(2) 정경관 501호  None
4   STAT180-01       통계계산소프트웨어       월(6) 교양관 404호 수(6) 교양관 404호  오찬욱
5   STAT180-02       통계계산소프트웨어       월(5) 교양관 404호 수(5) 교양관 404호  오찬욱
6   STAT201-00            통계수학                   금(1-2) 정경관 205호   허명회
7   STAT204-00       통계계산프로그래밍       화(1) 교양관 105호 목(1) 교양관 105호  오찬욱
8   STAT221-00       확률론입문(영강)       월(5) 교양관 304호 수(5) 교양관 304호    송준
9   STAT232-01       수리통계학(영강)       월(1) 정경관 202호 수(1) 정경관 202호   신승준
10  STAT232-02       수리통계학(영강)       화(1) 정경관 205호 목(1) 정경관 205호   정윤서
11  STAT241-00            행렬이론       월(2) 정경관 205호 수(2) 정경관 205호   구자용
12  STAT243-00    사회과학을위한데이터과학       화(6) 정경관 101호 목(6) 정경관 101호   송주원
13  STAT311-00         통계조사론입문   월(7-8) 정경관 205호 수(7-8) 정경관 205호   박민규
14  STAT342-01        회귀분석(영강)   화(7-8) 정경관 205호 목(7-8) 정경관 205호   정윤서
15  STAT342-02            회귀분석       화(5) 정경관 501호 목(5) 정경관 501호  None
16  STAT344-00       보험통계학(영강)       월(5) 정경관 503호 수(5) 정경관 503호   송성주
17  STAT346-00   통계적데이터과학I(영강)       화(5) 교양관 606호 목(5) 교양관 606호   김경희
18  STAT401-00     다변량통계분석(영강)       월(6) 정경관 205호 수(6) 정경관 205호    정환
19  STAT402-00        데이터마이닝입문       월(2) 정경관 503호 수(2) 정경관 503호   조형준
20  STAT404-00         베이즈통계입문       화(6) 정경관 507호 목(6) 정경관 507호   최태련
21  STAT443-00           선형방법론       월(5) 정경관 501호 수(5) 정경관 501호   구자용

In [6]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")

In [7]:
your_major = "COSE" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [8]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

COSE101-01 완료
COSE101-02 완료
COSE102-01 완료
COSE102-02 완료
COSE102-03 완료
COSE102-04 완료
COSE102-05 완료
COSE111-01 완료
COSE112-01 완료
COSE112-02 완료
COSE112-03 완료
COSE112-04 완료
COSE156-00 완료
COSE211-01 완료
COSE211-02 완료
COSE212-01 완료
COSE212-02 완료
COSE213-01 완료
COSE213-02 완료
COSE214-01 완료
COSE214-02 완료
COSE214-03 완료
COSE221-01 완료
COSE221-02 완료
COSE222-01 완료
COSE222-02 완료
COSE222-03 완료
COSE222-04 완료
COSE222-05 완료
COSE242-00 완료
COSE281-00 완료
COSE284-00 완료
COSE341-01 완료
COSE341-02 완료
COSE342-01 완료
COSE342-02 완료
COSE352-01 완료
COSE352-02 완료
COSE354-00 완료
COSE362-01 완료
COSE362-02 완료
COSE363-00 완료
COSE382-01 완료
COSE382-02 완료
COSE389-00 완료
COSE394-00 완료
COSE405-00 완료
COSE406-00 완료
COSE432-00 완료
COSE434-00 완료
COSE444-00 완료
COSE451-00 완료
COSE474-01 완료
COSE474-02 완료
COSE474-03 완료
COSE484-00 완료
COSE489-00 완료
COSE490-01 완료
COSE490-02 완료

In [9]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

,학수번호,강의명,시간,교수명
0,COSE101-01,컴퓨터프로그래밍I,월(3-4) 애기능생활관 301호 수(3) 애기능생활관 301호,장문정
1,COSE101-02,컴퓨터프로그래밍I,월(6) 애기능생활관 301호 수(6) 애기능생활관 301호,장문정
2,COSE102-01,컴퓨터프로그래밍II,화(1) 애기능생활관 302호 목(1) 애기능생활관 302호,김용천
3,COSE102-02,컴퓨터프로그래밍II,금(5-6) 애기능생활관 301호,최수경
4,COSE102-03,컴퓨터프로그래밍II,월(7-8) 정보통신관 205호 수(7) 정보통신관 205호,이도길
5,COSE102-04,컴퓨터프로그래밍II,월(5) 정보통신관 205호 수(5) 정보통신관 205호,유용재
6,COSE102-05,컴퓨터프로그래밍II,월(6) 정보통신관 205호 수(6) 정보통신관 205호,유용재
7,COSE111-01,전산수학I,금(2-4) 정보통신관 B101호,박중석
8,COSE112-01,전산수학II,화(2) 정보통신관 205호 목(2) 정보통신관 205호,백승준
9,COSE112-02,전산수학II,금(1-2) 정보통신관 202호,최창열
10,COSE112-03,전산수학II,수(5) 정보통신관 B101호 금(5) 정보통신관 B101호,이종실
11,COSE112-04,전산수학II,금(1-2) 정보통신관 205호,이종실
12,COSE156-00,모두를위한파이썬프로그래밍,화(7-8) 목(7-8),None
13,COSE211-01,이산수학,금(5-6) 애기능생활관 302호,박중석
14,COSE211-02,이산수학(영강),화(6) 과도관 410호 수(6) 정보통신관 202호,박성빈
15,COSE212-01,프로그래밍언어,화(1-2) 애기능생활관 301호 목(1-2) 애기능생활관 301호,오학주
16,COSE212-02,프로그래밍언어,월(3-4) 애기능생활관 302호 수(3-4) 애기능생활관 302호,None
17,COSE213-01,자료구조,화(3-4) 정보통신관 205호 목(4) 정보통신관 205호,이도길
18,COSE213-02,자료구조,화(7-8) 목(7),김선희
19,COSE214-01,알고리즘(영강),월(5) 정보통신관 202호 화(5) 정보통신관 202호,박성빈
20,COSE214-02,알고리즘(영강),월(2) 정보통신관 205호 수(2) 정보통신관 205호,김진규
21,COSE214-03,알고리즘,화(6) 정보통신관 202호 목(6) 정보통신관 202호,정순영
22,COSE221-01,논리설계,화(1) 과도관 409호 목(1) 과도관 409호,안영아
23,COSE221-02,논리설계,화(2) 애기능생활관 302호 목(2) 애기능생활관 302호,안영아
24,COSE222-01,컴퓨터구조(영강),화(5) 애기능생활관 302호 목(5) 애기능생활관 302호,서태원
25,COSE222-02,컴퓨터구조,금(3-5) 정보통신관 202호,정성우
26,COSE222-03,컴퓨터구조(영강),화(2) 정보통신관 B101호 목(2) 정보통신관 B101호,구건재
27,COSE222-04,컴퓨터구조(영강),월(5) 애기능생활관 302호 수(5) 애기능생활관 302호,김영근
28,COSE222-05,컴퓨터구조,월(1) 수(1),이중희
29,COSE242-00,데이터통신(영강),화(5) 정보통신관 205호 목(5) 정보통신관 205호,김효곤
30,COSE281-00,공학수학,수(3-4) 과도관 408호 금(3-4) 과도관 408호,이주섭
31,COSE284-00,전자기학,화(6) 애기능생활관 302호 목(6) 애기능생활관 302호,이주섭
32,COSE341-01,운영체제,화(6) 정보통신관 205호 목(6) 정보통신관 205호,유혁
33,COSE341-02,운영체제,금(2-4) 애기능생활관 301호,최수경
34,COSE342-01,컴퓨터네트워크(영강),월(1) 수(1),주창희
35,COSE342-02,컴퓨터네트워크,월(6) 정보통신관 B101호 수(6) 정보통신관 B101호,None
36,COSE352-01,소프트웨어공학,월(2) 정보통신관 B102호 수(2) 정보통신관 B102호,인호
37,COSE352-02,소프트웨어공학,월(5) 과도관 310호 수(5) 과도관 310호,차성덕
38,COSE354-00,정보보호(영강),월(1) 과도관 410호 수(1) 과도관 410호,허준범
39,COSE362-01,기계학습,화(5) 애기능생활관 301호 목(5) 애기능생활관 301호,김현철
40,COSE362-02,기계학습,화(6) 정보통신관 B101호 목(6) 정보통신관 B101호,강재우
41,COSE363-00,정보와정보학,월(2) 애기능생활관 301호 수(2) 애기능생활관 301호,이원규
42,COSE382-01,확률및랜덤과정,월(2) 정보통신관 604호 수(2) 정보통신관 604호,정원주
43,COSE382-02,확률및랜덤과정,금(5-6) 정보통신관 604호,최창열
44,COSE389-00,기업가정신과리더쉽,화(3-4) 애기능생활관 302호 목(3) 애기능생활관 302호,이문영
45,COSE394-00,창의적소프트웨어창업방법론,수(1-2) 생명과학관(동관)107 호,None
46,COSE405-00,컴퓨터학콜로키움,수(7-9) 정보통신관 202호 토(5-6) 정보통신관 202호,김현우
47,COSE406-00,개별연구(영강),수(7-9) 정보통신관 B102호 토(1-2) 정보통신관 B102호,주창희
48,COSE432-00,인간컴퓨터상호작용입문(영강),월(2) 애기능생활관 304호 수(2) 애기능생활관 304호,김정현
49,COSE434-00,게임프로그래밍,금(5-6) 정보통신관 205호,한정현
50,COSE444-00,클라우드컴퓨팅,월(2) 애기능생활관 302호 수(2) 애기능생활관 302호,유헌창
51,COSE451-00,소프트웨어보안(영강),화(5) 정보통신관 B102호 목(5) 정보통신관 B102호,이희조
52,COSE474-01,딥러닝(영강),월(5) 정보통신관 604호 수(5) 정보통신관 604호,김현우
53,COSE474-02,딥러닝(영강),월(6) 과도관 408호 수(6) 과도관 408호,김승룡
54,COSE474-03,딥러닝,화(6) 정보통신관 604호 목(6) 정보통신관 604호,백승준
55,COSE484-00,무선보안,화(3-4) 과도관 611호 목(3-4) 과도관 611호,이주섭
56,COSE489-00,캡스톤디자인,화(2) 애기능생활관 304호 목(2) 애기능생활관 304호 토(1-3) 애기능생활...,이숙윤
57,COSE490-01,전산학특강(영강),월(6) 정보통신관 202호 목(6) 과도관 410호,박성빈
58,COSE490-02,전산학특강(영강),화(5) 정보통신관 B101호 목(5) 정보통신관 B101호,정원기

In [10]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")

In [11]:
your_major = "BUSS" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [12]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

BUSS152-01 완료
BUSS152-02 완료
BUSS152-03 완료
BUSS152-04 완료
BUSS152-05 완료
BUSS152-06 완료
BUSS152-07 완료
BUSS152-08 완료
BUSS154-01 완료
BUSS154-02 완료
BUSS154-03 완료
BUSS154-04 완료
BUSS154-05 완료
BUSS154-06 완료
BUSS154-07 완료
BUSS164-00 완료
BUSS165-00 완료
BUSS203-01 완료
BUSS203-02 완료
BUSS204-00 완료
BUSS205-01 완료
BUSS205-02 완료
BUSS205-03 완료
BUSS205-04 완료
BUSS205-05 완료
BUSS205-06 완료
BUSS205-07 완료
BUSS207-01 완료
BUSS207-02 완료
BUSS207-03 완료
BUSS207-04 완료
BUSS207-05 완료
BUSS207-06 완료
BUSS207-07 완료
BUSS207-08 완료
BUSS211-01 완료
BUSS211-02 완료
BUSS211-03 완료
BUSS211-04 완료
BUSS211-05 완료
BUSS211-06 완료
BUSS213-01 완료
BUSS213-02 완료
BUSS213-03 완료
BUSS213-04 완료
BUSS213-05 완료
BUSS214-00 완료
BUSS215-01 완료
BUSS215-02 완료
BUSS215-03 완료
BUSS215-04 완료
BUSS215-05 완료
BUSS215-06 완료
BUSS215-07 완료
BUSS217-00 완료
BUSS236-00 완료
BUSS238-01 완료
BUSS238-02 완료
BUSS244-01 완료
BUSS244-02 완료
BUSS246-00 완료
BUSS252-01 완료
BUSS252-02 완료
BUSS252-03 완료
BUSS254-01 완료
BUSS254-02 완료
BUSS254-03 완료
BUSS259-01 완료
BUSS259-02 완료
BUSS302-00 완료
BUSS304-00 완료
BUSS311-01 완료
BUSS311-02 완료
BUSS311-03 완료
BUSS311-04 완료
BUSS311-05 완료
BUSS311-06 완료
BUSS313-01 완료
BUSS313-02 완료
BUSS313-03 완료
BUSS313-04 완료
BUSS313-05 완료
BUSS313-06 완료
BUSS313-07 완료
BUSS316-00 완료
BUSS322-00 완료
BUSS328-00 완료
BUSS340-00 완료
BUSS342-01 완료
BUSS342-02 완료
BUSS342-03 완료
BUSS344-00 완료
BUSS355-00 완료
BUSS356-00 완료
BUSS358-01 완료
BUSS358-02 완료
BUSS361-00 완료
BUSS363-00 완료
BUSS364-00 완료
BUSS382-00 완료
BUSS384-01 완료
BUSS384-02 완료
BUSS384-03 완료
BUSS384-04 완료
BUSS386-01 완료
BUSS386-02 완료
BUSS386-03 완료
BUSS394-00 완료
BUSS395-00 완료
BUSS397-00 완료
BUSS402-01 완료
BUSS402-02 완료
BUSS402-03 완료
BUSS402-04 완료
BUSS402-05 완료
BUSS402-06 완료
BUSS407-00 완료
BUSS410-00 완료
BUSS414-01 완료
BUSS414-02 완료
BUSS416-00 완료
BUSS431-00 완료
BUSS435-00 완료
BUSS447-00 완료
BUSS448-00 완료
BUSS456-00 완료
BUSS467-00 완료
BUSS468-00 완료
BUSS469-00 완료
BUSS475-00 완료
BUSS490-00 완료
BUSS491-00 완료
BUSS492-00 완료
BUSS495-00 완료
BUSS496-00 완료

In [13]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

           학수번호           강의명                             시간   교수명
0    BUSS152-01        회계학원리     화(2) 현차관 303호 목(2) 현차관 303호   정석우
1    BUSS152-02        회계학원리                     월(2)  수(2)    유용근
2    BUSS152-03        회계학원리                     월(6)  수(6)    유용근
3    BUSS152-04        회계학원리   화(1) 현차관 B204호 목(1) 현차관 B204호   이한상
4    BUSS152-05    회계학원리(영강)     수(1) L-P 107호 금(1) L-P 107호   지승민
..          ...           ...                            ...   ...
130  BUSS490-00    국내경영현장실습Ⅵ                              미정  None
131  BUSS491-00   국내경영현장실습IV                              미정  None
132  BUSS492-00    국내경영현장실습V                              미정  None
133  BUSS495-00    국내경영현장실습Ⅶ                              미정  None
134  BUSS496-00    국내경영현장실습Ⅷ                              미정  None

[135 rows x 4 columns]

In [14]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")

In [15]:
your_major = "IMEN" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [16]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

IMEN151-01 완료
IMEN151-02 완료
IMEN153-00 완료
IMEN156-00 완료
IMEN158-00 완료
IMEN214-00 완료
IMEN216-01 완료
IMEN216-02 완료
IMEN224-01 완료
IMEN224-02 완료
IMEN256-00 완료
IMEN302-00 완료
IMEN320-00 완료
IMEN324-00 완료
IMEN358-00 완료
IMEN361-00 완료
IMEN376-00 완료
IMEN383-00 완료
IMEN466-00 완료

In [17]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

,학수번호,강의명,시간,교수명
0,IMEN151-01,선형대수,월(5-6) 아산이학관 230호 금(8) 아산이학관 230호,None
1,IMEN151-02,선형대수,월(7-9) 과도관 310호 금(9) 과도관 310호,None
2,IMEN153-00,투자경제성분석,수(1-2) 창의관 B207,이철웅
3,IMEN156-00,산업공학개론,월(5) 신공학관B101호 수(5) 신공학관B101호,이홍철
4,IMEN158-00,데이터분석을위한프로그래밍언어,화(5) 신공학과224호-전산실습실 목(5) 신공학과224호-전산실습실,강필성
5,IMEN214-00,응용통계및실습,화(2) 공학관 369호 화(9-10) 공학관 369호 목(2) 공학관 369호,명노해
6,IMEN216-01,OR-Ⅰ및 실습,화(2) 공학관 466호 목(2) 공학관 466호 목(8-9) 공학관 466호,류홍서
7,IMEN216-02,OR-Ⅰ및 실습,월(2) 공학관 167호 월(9-10) 공학관 167호 수(2) 공학관 167호,최인찬
8,IMEN224-01,자료구조및알고리즘,화(1) 신공학관B113-전산실습실 수(5) 신공학관B113-전산실습실,최회련
9,IMEN224-02,자료구조및알고리즘,화(5) 창의관 101호 수(1) 창의관 101호,최회련
10,IMEN256-00,인공지능과지식재산,수(5-6) 아산이학관 230호,이철웅
11,IMEN302-00,공급사슬경영(영강),월(5) 창의관 101호 수(4-5) 창의관 101호,정태수
12,IMEN320-00,최적화응용,월(5-6) 공학관 167호,최인찬
13,IMEN324-00,시뮬레이션및실습,화(6) 공학관 250호 화(8-9) 공학관 250호 목(6) 공학관 250호,백준걸
14,IMEN358-00,품질공학,월(2) 창의관 203호 수(2) 창의관 203호,김성범
15,IMEN361-00,시스템공학특론-Ⅰ,월(7-9) 공학관 369호,None
16,IMEN376-00,스마트생산운영관리,화(2) 공학관 162호 목(2) 공학관 162호 목(9) 공학관 162호,서윤호
17,IMEN383-00,헬스시스템엔지니어링(영강),화(5) 공학관 369호 목(5) 공학관 369호,이효경
18,IMEN466-00,서비스공학,화(6-8) 창의관 110호,None

In [18]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")

In [19]:
your_major = "KECE" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [20]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

KECE204-01 완료
KECE204-02 완료
KECE204-03 완료
KECE206-01 완료
KECE206-02 완료
KECE206-03 완료
KECE208-01 완료
KECE208-02 완료
KECE208-03 완료
KECE210-01 완료
KECE210-02 완료
KECE210-03 완료
KECE210-04 완료
KECE210-05 완료
KECE210-06 완료
KECE210-07 완료
KECE210-08 완료
KECE212-01 완료
KECE212-02 완료
KECE212-03 완료
KECE212-04 완료
KECE232-01 완료
KECE232-02 완료
KECE232-03 완료
KECE232-04 완료
KECE302-01 완료
KECE302-02 완료
KECE302-03 완료
KECE302-04 완료
KECE304-01 완료
KECE304-02 완료
KECE304-03 완료
KECE304-04 완료
KECE304-05 완료
KECE304-06 완료
KECE304-07 완료
KECE304-08 완료
KECE316-01 완료
KECE316-02 완료
KECE326-01 완료
KECE326-02 완료
KECE326-03 완료
KECE334-01 완료
KECE334-02 완료
KECE340-00 완료
KECE364-00 완료
KECE370-01 완료
KECE370-02 완료
KECE370-03 완료
KECE382-01 완료
KECE382-02 완료
KECE392-00 완료
KECE404-01 완료
KECE404-02 완료
KECE404-03 완료
KECE414-00 완료
KECE446-00 완료
KECE452-00 완료
KECE454-00 완료
KECE456-00 완료
KECE470-00 완료
KECE492-00 완료
KECE496-00 완료

In [21]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호          강의명                               시간  교수명
0   KECE204-01       전기회로Ⅱ   월(5) 아산이학관 112호 수(5) 아산이학관 112호  엄두섭
1   KECE204-02   전기회로Ⅱ(영강)       월(5) 공학관 369호 수(5) 공학관 369호  이상현
2   KECE204-03   전기회로Ⅱ(영강)     월(5) 창의관 B114호 수(5) 창의관 B114호  최승연
3   KECE206-01        전자기학                       월(2)  수(2)   김규태
4   KECE206-02    전자기학(영강)     월(2) 신공학관B102호 수(2) 신공학관B102호  이재성
..         ...          ...                              ...  ...
58  KECE454-00   전동기제어(영강)       월(1) 공학관 250호 수(1) 공학관 250호  최승연
59  KECE456-00   코드및시스템최적화       화(2) 공학관 366호 목(2) 공학관 366호  김선욱
60  KECE470-00    패턴인식(영강)       월(5) 공학관 366호 수(5) 공학관 366호  고한석
61  KECE492-00      무선네트워크       월(6) 공학관 366호 수(6) 공학관 366호  강충구
62  KECE496-00     디지털집적회로       월(5) 창의관 205호 수(5) 창의관 205호  박종선

[63 rows x 4 columns]

In [22]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")

In [23]:
your_major = "GELA" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [24]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

GELA107-00 완료
GELA131-00 완료
GELA132-00 완료
GELA142-00 완료

In [25]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

         학수번호            강의명                           시간   교수명
0  GELA107-00   한국고전문학과배경사상   월(2) 교양관 110호 수(2) 교양관 110호   장효현
1  GELA131-00      한국의젊은시인들                          None  None
2  GELA132-00       현대음악의이해   월(5) 교양관 606호 수(5) 교양관 606호   류경선
3  GELA142-00    조선시대문학관의이해   월(2) 교양관 102호 수(2) 교양관 102호   박경남

In [26]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"22_2_{your_major}.xlsx")