In [ ]:
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
your_major = "ECE" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [3]:
!nvidia-smi

Sat Dec 31 11:53:12 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   63C    P0    29W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [5]:
for number in range (500, 900):
    # http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2022&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=ECE501&cour_cls=00&cour_nm=%EB%8C%80%ED%95%99%EC%9B%90%EC%84%B8%EB%AF%B8%EB%82%98%E2%85%A0&device=WW
    # "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00&cour_nm=%EB%8C%80%ED%95%99%EC%9B%90%EC%84%B8%EB%AF%B8%EB%82%98%E2%85%A0&device=WW"
    #  "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    # url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2022&term=2R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    # url =  "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00&cour_nm=%EB%8C%80%ED%95%99%EC%9B%90%EC%84%B8%EB%AF%B8%EB%82%98%E2%85%A0&device=WW"
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

ECE502-00 완료
ECE506-00 완료
ECE511-00 완료
ECE513-00 완료
ECE517-00 완료
ECE519-00 완료
ECE523-00 완료
ECE541-00 완료
ECE602-00 완료
ECE605-00 완료
ECE624-00 완료
ECE629-00 완료
ECE631-00 완료
ECE638-00 완료
ECE650-00 완료
ECE653-00 완료
ECE655-00 완료
ECE662-00 완료
ECE664-00 완료
ECE678-00 완료
ECE693-00 완료
ECE706-00 완료
ECE708-00 완료
ECE709-00 완료
ECE712-00 완료
ECE719-00 완료
ECE723-00 완료
ECE725-00 완료
ECE729-00 완료
ECE738-00 완료
ECE739-00 완료
ECE740-00 완료
ECE743-00 완료
ECE751-00 완료
ECE803-00 완료
ECE809-00 완료
ECE853-00 완료

In [6]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

         학수번호                 강의명                     시간          교수명
0   ECE500-00             ���몃?�                    None         None
1   ECE501-00             ���몃?�                    None         None
2   ECE502-00        반도체소자특론(영강)         화(7-9) 창의관 106호         None
3   ECE503-00             ���몃?�                    None         None
4   ECE504-00             ���몃?�                    None         None
..        ...                 ...                    ...          ...
91  ECE743-00   디지털하드웨어가속기구조(영강)   월(1-2) 생명과학관(서관) 534호          궁재하
92  ECE751-00        시스템설계및실습(1)         월(7-9) 창의관 117호          전상근
93  ECE803-00        영어논문작성법(영강)         월(1-2) 과도관 408호  Beelee Chua
94  ECE809-00              심화연구1         금(5-6) 공학관 368호         None
95  ECE853-00            대학원세미나Ⅳ        목(7-9) 창의관 B113호          황인준

[96 rows x 4 columns]

In [7]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [8]:
your_major = "MAC" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [9]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

MAC501-00 완료
MAC503-00 완료
MAC508-00 완료
MAC515-00 완료
MAC545-00 완료
MAC546-00 완료
MAC562-00 완료
MAC568-00 완료
MAC577-00 완료
MAC602-00 완료
MAC615-00 완료
MAC616-00 완료
MAC640-00 완료
MAC652-00 완료
MAC670-00 완료

In [10]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

         학수번호              강의명                시간  교수명
0   MAC501-00    커뮤니케이션이론(영강)   금(2-4) 미디어관 410호  이선경
1   MAC503-00     커뮤니케이션연구방법론   수(5-6) 미디어관 602호  김성태
2   MAC508-00     미디어철학연구(영강)   목(5-6) 미디어관 604호  신혜린
3   MAC515-00      미디어질적연구방법론   목(1-3) 미디어관 506호  박지훈
4   MAC545-00         디지털저널리즘     목(5-6) 미디어관601  박아란
5   MAC546-00           저널리즘론   화(2-4) 미디어관 505호  박재영
6   MAC562-00    설득커뮤니케이션(영강)   월(6-8) 미디어관 506호  정세훈
7   MAC568-00             광고론     화(2-4) 미디어관601  최세정
8   MAC577-00   쟁점관리와위기커뮤니케이션   월(5-6) 미디어관 505호  윤영민
9   MAC602-00          미디어경영학     월(5-6) 미디어관601  정윤혁
10  MAC615-00      미디어앙트레프레너십     수(2-4) 미디어관601  김성철
11  MAC616-00        미디어정책과규제   화(5-6) 미디어관 505호  김정현
12  MAC640-00          방송미디어론   화(1-2) 미디어관 506호  이헌율
13  MAC652-00    영상미디어세미나(영강)   금(5-6) 미디어관 505호  마동훈
14  MAC670-00   미디어애널리틱스프로그래밍   수(5-6) 미디어관 506호  백현미

In [11]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [12]:
your_major = "STA" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [13]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

STA504-00 완료
STA508-00 완료
STA509-00 완료
STA513-00 완료
STA520-00 완료
STA532-00 완료
STA533-00 완료
STA610-00 완료
STA619-00 완료
STA712-00 완료
STA713-00 완료
STA731-00 완료

In [14]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

         학수번호               강의명                               시간  교수명
0   STA504-00          선형모형방법론       화(5) 정경관 501호 목(5) 정경관 501호  박민규
1   STA508-00     비모수통계방법론(영강)   화(7-8) 교양관 303호 목(7-8) 교양관 303호  최상범
2   STA509-00      통계계산방법론(영강)       월(1) 교양관 109호 수(1) 교양관 109호  신승준
3   STA513-00        추론통계학(영강)       화(1) 정경관 507호 목(1) 정경관 507호  김경희
4   STA520-00     통계논문세미나Ⅰ(영강)                   금(1-2) 정경관 502호   정환
5   STA532-00           빅데이터개론       월(5) 정경관 201호 수(5) 정경관 201호  유수진
6   STA533-00   데이터과학을위한데이터베이스       월(6) 정경관 507호 수(6) 정경관 507호  유수진
7   STA610-00            통계상담I                   화(5-6) 교양관 402호  조형준
8   STA619-00    고급통계적강화학습(영강)                  금(5-6) 정경관 509A호  임성빈
9   STA712-00          경시적자료분석   화(2) 정경관513세미나실 목(2) 정경관513세미나실  송주원
10  STA713-00           함수추정방법   월(6) 정경관513세미나실 수(6) 정경관513세미나실  구자용
11  STA731-00    데이터애널리틱스특수연구1       월(5) 정경관 508호 수(5) 정경관 508호  김형준

In [15]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [16]:
your_major = "IDS" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [17]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

IDS503-00 완료
IDS505-00 완료
IDS506-00 완료
IDS511-00 완료
IDS512-00 완료
IDS601-00 완료

In [18]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

        학수번호                 강의명                                 시간  교수명
0  IDS503-00             인공지능입문                    수(5-6) 사대신관 402호  주윤정
1  IDS505-00         DS/AI프로그래밍   화(1) 법학관구관 B101호 목(1) 법학관구관 B101호  서정권
2  IDS506-00          클라우드컴퓨팅입문                    목(1-2) 사대신관 402호  주윤정
3  IDS511-00   데이터과학을위한수학과프로그래밍     월(7-8) 정경관 101호 수(7-8) 정경관 101호  김형준
4  IDS512-00      데이터과학을위한확률과통계                     화(1-2) 정경관 502호  허명회
5  IDS601-00            데이터과학원론                     화(5-6) 교양관 315호  신승준

In [19]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [20]:
your_major = "XAI" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [21]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

XAI501-00 완료
XAI502-00 완료
XAI503-00 완료
XAI504-00 완료
XAI506-00 완료
XAI507-00 완료
XAI508-00 완료
XAI517-00 완료
XAI601-00 완료
XAI605-00 완료
XAI608-00 완료
XAI611-00 완료
XAI612-00 완료
XAI615-00 완료
XAI626-00 완료
XAI706-00 완료

In [22]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

,학수번호,강의명,시간,교수명
0,XAI501-00,기계학습(영강),수(1-2) 정보통신관 201호,김상필
1,XAI502-00,확률과통계(영강),월(5) 애기능생활관 303호 수(5) 애기능생활관 303호,정원주
2,XAI503-00,최적화이론(영강),화(1-2) 애기능생활관 303호,박세준
3,XAI504-00,선형대수(영강),월(3-4) 애기능생활관 302호 수(3-4) 애기능생활관 302호,None
4,XAI506-00,딥러닝(영강),화(5-6),감태의
5,XAI507-00,컴퓨터비전(영강),화(5-6) 과도관 611호,Christian Wallraven
6,XAI508-00,자연언어처리(영강),화(3-4) 애기능생활관 302호 목(3-4) 애기능생활관 302호,None
7,XAI517-00,창업보육정책및법규,금(5-6) 애기능생활관 304호,장경환
8,XAI601-00,딥러닝응용및실습(영강),목(1-2) 과도관 611호,최성준
9,XAI605-00,빅데이터분석응용및실습(영강),화(5-6) 애기능생활관 303호,박세준
10,XAI608-00,고급컴퓨터비전(영강),목(1-2) 정보통신관 201호,김상필
11,XAI611-00,고급빅데이터분석(영강),월(1-2),감태의
12,XAI612-00,고급신경망(영강),목(5-6) 과도관 614A호,Christian Wallraven
13,XAI615-00,지능로봇(영강),목(5-6) 과도관 611호,최성준
14,XAI626-00,고급강화학습(영강),월(6-8) 과도관 611호,이병준
15,XAI706-00,창의학습프로젝트I(영강),금(1-2) 정보통신관 201호,이성환

In [23]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [24]:
your_major = "BUS" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [25]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

BUS523-00 완료
BUS529-00 완료
BUS530-00 완료
BUS531-00 완료
BUS607-00 완료
BUS608-00 완료
BUS617-00 완료
BUS624-00 완료
BUS637-00 완료
BUS649-00 완료
BUS660-00 완료
BUS710-00 완료
BUS737-00 완료
BUS743-00 완료
BUS753-00 완료
BUS788-00 완료
BUS789-00 완료
BUS838-00 완료
BUS855-00 완료
BUS877-00 완료

In [26]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

,학수번호,강의명,시간,교수명
0,BUS523-00,재무회계1,화(5-6) L-P 205호,배길수
1,BUS529-00,대학원영어논문쓰기(영강),금(1-2) L-P 107호,Gil Michael Ian Coombe
2,BUS530-00,대학원영어논문쓰기고급(영강),금(1-2) L-P 108호,Peter L. Sinclair
3,BUS531-00,"경영,경제통계(영강)",화(1-2) L-P 106호,이선민
4,BUS607-00,경영전략론,화(4-6) L-P 217호,남대일
5,BUS608-00,고용관계론,수(5-6) L-P 210호,김동원
6,BUS617-00,인터넷기술및e-비즈니스(영강),화(5-6) L-P 429호,이동원
7,BUS624-00,BTOB마케팅(영강),수(1-2) 현차관 B202호,김재욱
8,BUS637-00,위험관리(영강),월(6-8) L-P 207호,김창기
9,BUS649-00,회계학신조류(영강),금(1-3) L-P 208호,지승민
10,BUS660-00,서비스운영관리(영강),수(6-8) L-P 428호,임호순
11,BUS710-00,조직행동론세미나I(영강),목(1-3) L-P 429호,장진욱
12,BUS737-00,재무론특강III(영강),금(1-2) L-P 207호,이희범
13,BUS743-00,재무회계세미나I(영강),금(4-5) L-P 208호,지승민
14,BUS753-00,경영관리방법론(영강),월(5-7) L-P 210호,전재욱
15,BUS788-00,경영과학및응용1(영강),화(6-8) L-P 428호,박경삼
16,BUS789-00,회계감사세미나1,수(5-6) 현차관 402호,정석우
17,BUS838-00,재무론실증연구(영강),화(2) 현차관 B306호 목(2) 현차관 B306호,손범진
18,BUS855-00,기술경영(영강),월(3-5) L-P 216호,김병조
19,BUS877-00,마케팅연구조사방법세미나(영강),화(5-6) L-P 301호,석관호

In [27]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")

In [28]:
your_major = "AAA" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [29]:
for number in range (500, 900):
    url = "http://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?language=ko&year=2023&term=1R&grad_cd=0309&dept_cd=5497&cour_cd=" + your_major + str(number) + "&cour_cls=00"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

AAA512-00 완료
AAA514-00 완료
AAA519-00 완료
AAA528-00 완료
AAA536-00 완료
AAA558-00 완료
AAA559-00 완료
AAA591-00 완료
AAA593-00 완료
AAA596-00 완료
AAA605-00 완료
AAA609-00 완료
AAA611-00 완료
AAA619-00 완료
AAA623-00 완료
AAA634-00 완료
AAA640-00 완료
AAA648-00 완료
AAA650-00 완료
AAA672-00 완료
AAA708-00 완료
AAA720-00 완료
AAA731-00 완료
AAA733-00 완료

In [30]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

         학수번호                 강의명                                   시간  교수명
0   AAA512-00            데이터베이스론                     수(1-2) 정보통신관 208호  정연돈
1   AAA514-00         컴퓨터구조론(영강)                     수(2-4) 정보통신관 604호  김영근
2   AAA519-00      알고리즘설계및분석(영강)   월(7-8) 정보통신관 208호 수(7-8) 정보통신관 208호  박성빈
3   AAA528-00               전산논리     월(6-8) 과도관 614A호 수(6-8) 과도관 614A호  오학주
4   AAA536-00       가상증강현실기초(영강)                     화(5-6) 정보통신관 206호  김정현
5   AAA558-00               인턴쉽Ⅰ                               금(3-5)   이희조
6   AAA559-00               인턴쉽Ⅱ                               금(6-8)   이희조
7   AAA591-00         정보과학교육세미나1                    월(5-6) 애기능생활관 304호  이원규
8   AAA593-00     스마트팩토리융합보안세미나Ⅰ                    목(7-8) 정보통신관 B101호  이희조
9   AAA596-00           스마트팩토리개론                     목(5-6) 정보통신관 208호  이재훈
10  AAA605-00             음성정보처리                     월(2-4) 정보통신관 604호  육동석
11  AAA609-00              무선인터넷                     수(5-6) 정보통신관 206호  김효곤
12  AAA611-00         운영체제설계(영강)                    수(6-8) 정보통신관 B101호   유혁
13  AAA619-00           패턴인식(영강)                     목(5-6) 정보통신관 206호  김진규
14  AAA623-00        소프트웨어보안(영강)                    목(1-2) 정보통신관 B102호  이희조
15  AAA634-00       고급프로세스구조(영강)                     금(2-4) 정보통신관 208호  정성우
16  AAA640-00            결함포용시스템                    목(1-2) 애기능생활관 303호  유헌창
17  AAA648-00       데이터보안챌린지(영강)                      화(5-6) 과도관 614A호  허준범
18  AAA650-00        도메인특화구조(영강)                    수(2-4) 정보통신관 B102호  구건재
19  AAA672-00         교육데이터마이닝기술                    목(5-6) 애기능생활관 303호  임희석
20  AAA708-00   마이크로프로세서응용설계(영강)     화(5) 애기능생활관 304호 목(5) 애기능생활관 304호  서태원
21  AAA720-00           IIoT블록체인                    월(6-8) 정보통신관 B102호   인호
22  AAA731-00              안테나공학                      수(3-5) 과도관 614A호  이주섭
23  AAA733-00          초고주파공학특론2                     화(3-5) 정보통신관 208호  이재훈

In [31]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}_Graduate.xlsx")